.task-status-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1rem;
}

.task-status {
  width: 100%;
  height: auto;
}

.task-status-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
  margin-top: 0.3rem;
}

.task-status-container > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.progress {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
}

.task-status-completed > .progress {
  background: conic-gradient(blue 3.6deg, #ededed 0deg);
}
.task-status-in-progress > .progress {
  background: conic-gradient(green 3.6deg, #ededed 0deg);
}
.task-status-not-started > .progress {
  background: conic-gradient(red 3.6deg, #ededed 0deg);
}

.progress::before {
  content: '';
  width: 90% !important;
  height: 90% !important;
  background-color: white;
  position: absolute;
  border-radius: 50%;
}

.progress > span {
  z-index: 50;
  font-size: 2rem;
  font-weight: 700;
}

.task-status-container > div > span {
  margin-top: 0.5rem;
}